*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
    width: 100%;
     max-width: 1160px;
     padding: 0 5px;
     margin: 0 auto;
}
// .root{
//      background-color: black;
// }
body{
    background-color: black;
}
.wrapper{
    max-width: 1160px;
    margin:  0 auto;
}
.flex{
     display: flex;
     justify-content: space-between;
}
$black: #171716;
$green: #73F9BC;
$font-Jost: 'Jost', sans-serif;
.col-3{
     width: 25%;
 }
 .col-4{
     width: 33.33333333%;
 }
 .col-5{
     width: 41.666%;
 }
 .col-6{
     width: 50%;
 }
 .col-7{
     width: 58.33333333%;
 }
 .col-8{
     width: 66.6666666666%;
 }
 .col-12{
     width: 100%;
 }
 @mixin font($font-Jost,$size,$weight){
     font-family: $font-Jost;
     font-weight: $weight;
     font-size: $size;
 }
 @font-face {
     font-family: 'Bison';
     // src: local('.'), local('ProximaNova-Black'),
      src: url('./Bison-Bold\(PersonalUse\).ttf') format('truetype');
     font-weight: 900;
     font-style: normal;
   }
